.gallery {
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1240px;
}

@media (max-width: 1243px) {
    .gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }
}