div p {
    display: flex;
    width: 44.125rem;
    height: 14.25rem;
    justify-content: center;
    align-items: center;
    margin: auto;

}

div text {

    width: 44.125rem;
    height: 14.25rem;
    flex-shrink: 0;

}

#paragraphe {
    color: #000;
    text-align: justify;
    font-family: Inria Serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#button {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 26rem; */
    text-decoration: none;

}

div .button_paragraphe {

    /* Button background */

    width: 6.2rem;
    height: 1.8rem;
    flex-shrink: 0;
    background-color: black;
    border-bottom: none;
    /* text */

    color: #FEFEFE;
    text-align: center;
    font-family: Inria Serif;
    font-size: 1rem;
    padding-top: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-right: 26rem;

}

div .button_paragraphe:hover {
    border-bottom: none;
    background-color: #7451eb;
    transition: 0.3s all;
}