.description-zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}



.description.active {
    background: transparent;
    color: black;
    transition: 0.5s all;
}

.tag-zone {
    align-content: center;
    display: flex;
}

.hidden {
    opacity: 0;
}

.description {
    cursor: pointer;
}

.active-description {
    opacity: 1;
    transition: 0.5s all;
    width: 72rem;
    text-align: justify;
    font-family: Inria Serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    margin-top: 2rem;
}

.link {
    display: flex;
    z-index: 6;
    position: absolute;
    flex-direction: column;
    height: 100%;
    background: black;
    width: 40px;
    align-items: center;
    justify-content: center;
    left: 100%;
}

.icon-block {
    width: 32px;
    height: 32px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
}

.icon-link {
    color: white;
    font-size: 20px;
    margin: auto;
}

@media (max-width: 768px) {
    .description-zone {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        width: 85%;
    }

    .active-description {
        width: 72vw;
    }

    .link {
        left: 0;
    }

}

@media (max-width:740px) {
    .description {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1243px) and (min-width: 800px) {
    .description-zone {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        width: 85%;
    }

    .description {
        margin-bottom: 0.5vh;
    }

    .active-description {
        width: 80vw;
    }

    .link {
        left: 0;
    }
}